<section id="inicio">
        <div class="min-vw-100" class="jumbotron jumbotron-fluid">
            <div class="container-md">
                <h2>Hola, mi nombre es</h2>
                <h1>Iriangel Quintero</h1>
                <p class="lead">Soy <span class="typed"></span></p>
                <a class="btn btn-color btn-lg" href="#sobremi" role="button">ver más</a>
            </div>
        </div>
    </section>
    <section id="sobremi">
        <div class="container-md">
            <h3 class="heading text-center" >Sobre <span class="letracolor">mi</span></h3>
            <div class="row">
                <div class="col-ms col-md-6">
                    <ul class="info">
                        <li><span class="letracolor espacio">Nombre:</span>Iriangel Quintero</li>
                        <li><span class="letracolor espacio">Edad:</span>33</li>
                        <li><span class="letracolor espacio">Dirección:</span>Buenos Aires,Argentina.</li>
                        <li><span class="letracolor espacio">Teléfono:</span>+54-11-85454545</li>
                        <li><span class="letracolor espacio">E-mail:</span>iriangel.quintero@gmail.com</li>
                        <li>
                            <a class="boton icon-github" href="https://github.com/iriquintero" target="_blank"></a>
                            <a class="boton icon-linkedin" href="https://www.linkedin.com/in/iriangel-quintero-a63533189/" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-ms col-md-6">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est a architecto aliquid optio quasi, quis fuga debitis, veritatis atque illo magnam eligendi nemo nobis provident ratione cumque, ullam labore totam.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est a architecto aliquid optio quasi, quis fuga debitis, veritatis atque illo magnam eligendi nemo nobis provident ratione cumque, ullam labore totam.</p>
                </div>
            </div>
            <button type="button" class="btn btn-color btn-md icon-profile">Descargar CV</button>
        </div>
    </section>
    <section id="aptitudes">
        <div class="container-md">
            <h3 class="heading text-center" >Mis <span class="letracolor">Aptitudes</span></h3>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  </ol>
                <div class="carousel-inner">
                    <div  class="carousel-item active">
                        <ul class="icons">
                            <li class="boton icon-html5"><h4>HTML</h4></li>
                            <li class="boton icon-css3"><h4>CSS</h4></li>
                            <li class="boton icon-javascript"><h4>JavaScript</h4></li>
                            <li class="boton icon-git"><h4>Git</li>
                            
                        </ul>
                    </div>
                    <div class="carousel-item">
                        <ul class="icons">
                            <li class="boton icon-react"><h4>React.js</h4></li>
                            <li class="boton icon-bootstrap"><h4>Bootstrap</h4></li>
                            <li class="boton icon-jquery"><h4>Jquery</h4></li>
                            <li class="boton icon-node-dot-js"><h4>Node.js</h4></li>
                        </ul>
                    </div>
                    <div class="carousel-item">
                        <ul class="icons">
                            <li class="boton icon-database"><h4>Base de Datos</h4></li>
                            <li class="boton icon-mysql"><h4>MySQL</h4></li>
                            <li class="boton icon-postgresql"><h4>SQL</h4></li>
                        </ul>
                    </div>
                    <div class="carousel-item">
                        <ul class="icons">
                            <li class="boton icon-adobephotoshop"><h4>Photoshop</h4></li>
                            <li class="boton icon-adobeillustrator"><h4>Illustrator</h4></li>
                        </ul>
                    </div>
                </div>
              </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container-md">
            <h3 class="heading text-center" >Mi <span class="letracolor">Portfolio</span></h3>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                    <div class="card text-white bg-transparent " style="width:100%;">
                        <img src="images/PBLTHX0.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wedsite Iri's Universe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Proyecto Final UTN.BA</h6>
                            <p class="card-text">Página web para diseñadores e illustradores, la cual contiene galería, blog, tienda redireccionada, contacto y newsletter.</p>
                            <p class="card-text">HTML/CSS/JavaScript/JQuery/Node.js/React.js/MySQL/librería Muuri y Aos.</p>
                            <a href="https://iriquintero.github.io/irisuniverse/" target="_blank"class="btn btn-color btn-md">ver website</a>
                            <a href="https://github.com/iriquintero/irisuniverse.git" target="_blank"class="btn btn-color btn-md icon-github">Ir a Git Hub</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white bg-transparent " style="width: 100%;">
                        <img src="images/PBLTHX0.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Website Portfolio</h5>
                            <h6 class="card-subtitle mb-2 text-muted">CV personal</h6>
                            <p class="card-text">Es una web de una sola página que está dividida en varias secciones (inicio, sobre mi, aptitudes, portafolio, resumen y contacto), usé Bootstrap como base para su diseño.</p>
                            <p class="card-text">HTML/CSS/JavaScript/Bootstrap/MySQL/JQuery</p>
                            <a href="https://iriquintero.github.io/cv-portfolio/" target="_blank"class="btn btn-color btn-md">ver website</a>
                            <a href="https://github.com/iriquintero/cv-portfolio.git" target="_blank"class="btn btn-color btn-md icon-github">Ir a Git Hub</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white bg-transparent " style="width:100%;">
                        <img src="images/PBLTHX0.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text">HTML/CSS/JavaScript/JQuery/Node.js/React.js/MySQL/librería Muuri.</p>
                            <a href="https://iriquintero.github.io/irisuniverse/" target="_blank"class="btn btn-color btn-md">ver website</a>
                            <a href="https://iriquintero.github.io/irisuniverse/" target="_blank"class="btn btn-color btn-md icon-github">Ir a Git Hub</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white bg-transparent " style="width: 100%;">
                        <img src="images/PBLTHX0.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text">HTML/CSS/JavaScript/JQuery/Node.js/React.js/MySQL/librería Muuri.</p>
                            <a href="https://iriquintero.github.io/irisuniverse/" target="_blank"class="btn btn-color btn-md">ver website</a>
                            <a href="https://iriquintero.github.io/irisuniverse/" target="_blank"class="btn btn-color btn-md icon-github">Ir a Git Hub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="resume">
        <div class="container-md">
            <h3 class="heading text-center" >Mi <span class="letracolor">Resume</span></h3>
            <div class="row">
                <div class="resume col-ms col-md-6">
                    <h4>Educación</h4>
                    <div class="timeline-item" date-is="18-12-2020">
                        <h5>Lorem ipsum dolor sit amet.</h5>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="timeline-item" date-is='18-12-2009'>
                        <h5>Lorem ipsum dolor sit amet.</h5>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
                <div class="resume col-ms col-md-6">
                    <h4>Experiencia Laboral</h4>
                    <div class="timeline-item" date-is="18-03-2020">
                        <h5>Lorem ipsum dolor sit amet..</h5>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="timeline-item" date-is="18-04-2018">
                        <h5>Lorem ipsum dolor sit amet.</h5>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contacto">
        <div class="container-md">
            <h3 class="heading text-center" ><span class="letracolor">Contactame</span></h3>
            <div class="contacto-info card-deck">
                <div class="card infocont icon-location"><p>San Martín, Buenos Aires</p></div>
                <div class="card infocont icon-phone"><p>+54-11-45345233</p></div>
                <div class="card infocont icon-envelop "><p>iriangel.quintero@gmail.com</p></div>
            </div>
            <form class="form-contacto" action="#contacto" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="textlabel" for="inputnombre">Nombre y Apellido:</label>
                        <input type="text" class="form-control" id="inputnombre" name="nombre" required placeholder="Escribir tú Nombre y Apellido">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="textlabel" for="inputEmail4">E-mail:</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" required placeholder="ejemplo@gmail.com">
                    </div>
                </div>
                <div class="form-group">
                    <label class="textlabel" for="exampleFormControlTextarea1">Mensaje:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje" required placeholder="Escribir un mensaje"></textarea>
                </div>
                <button type="submit" class="enviar btn btn-color btn-md">Enviar</button>
                <p class="mensajecontact">{{mensaje}}</p>
            </form>
            <div class="flecha">
                <a class="flechaicon icon-arrow-up2" href="#inicio"></a>
            </div>
        </div>
    </section>
